# будут игнорироваться файлы, находящиеся в подкаталоге tmp
tmp/

# будут игнорироваться файлы, заканчивающиеся суффиксами _old, _backup
*_old
*_backup

# будут игнорироваться файлы Thumbs.db и .DS_Store.
Thumbs.db
.DS_Store